body {
  padding: 0;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  position: absolute;
  top: 3%;
  width: 100%;
}

td {
  width: 25%;
}

#intro {
  position: relative;
  top: 100px;
}

.header {
  text-align: center;
}
